@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,300,600,700,800);
body {
  /*	background-image: url('../images/title_slide_GUIDE.png');
  */
  background-color: #212121;
  width: 1280px; }

h1, h2 {
  font-family: arvo; }

h3, p {
  font-family: open sans; }

.slide + .slide {
  margin: 200px 0 0 0; }

.wrapper {
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 100%; }
  .wrapper section {
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background: #1C1C1C; }
  .wrapper section:nth-child(2n) {
    background: #2E2E2E; }
  .wrapper .timeline {
    position: fixed;
    height: 100%;
    right: 10px;
    z-index: 99; }
  .wrapper .timeline .ruler {
    position: relative;
    content: '';
    height: 100%;
    width: 4px;
    float: right;
    background-color: #eeeeee; }
  .wrapper .timeline .points {
    float: left;
    color: #eeeeee;
    padding-right: 5px; }
  .wrapper .timeline .points .twentyten {
    /*		padding-top: 15px;
    */ }
  .wrapper .eightynine {
    margin-top: 20px; }
  .wrapper .thirtynine {
    margin-top: 40px; }
  .wrapper .fifteeneighty {
    margin-top: 100px; }
  .wrapper .fiftythreema {
    margin-top: 430px; }
  .wrapper .slide {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom: 50px; }
    .wrapper .slide .top {
      display: flex;
      align-items: center;
      margin: 74px 0 0 340px; }
      .wrapper .slide .top .calendar h1 {
        font-family: arvo;
        font-size: 32px;
        color: #fff;
        position: absolute;
        margin: 58px 0 0 0;
        letter-spacing: 2.25px;
        width: 123px;
        text-align: center; }
      .wrapper .slide .top .video_main {
        margin-left: 48px; }
      .wrapper .slide .top .thumbs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 13px; }
        .wrapper .slide .top .thumbs img {
          cursor: pointer; }
        .wrapper .slide .top .thumbs img + img {
          margin-top: 10px; }
    .wrapper .slide .bottom {
      display: flex; }
      .wrapper .slide .bottom .photo {
        margin: 0 0 0 120px; }
        .wrapper .slide .bottom .photo .header {
          display: flex;
          margin: 0;
          align-items: center;
          z-index: 2;
          position: absolute; }
          .wrapper .slide .bottom .photo .header h1 {
            color: white;
            text-transform: uppercase;
            font-size: 50px; }
          .wrapper .slide .bottom .photo .header .light_years {
            background-image: url("../images/white_circle.png");
            width: 184px;
            height: 184px;
            text-align: center;
            margin-left: -20px; }
            .wrapper .slide .bottom .photo .header .light_years h2 {
              font-size: 50px;
              margin-bottom: 0;
              line-height: 40px;
              margin-top: 53px; }
            .wrapper .slide .bottom .photo .header .light_years p {
              font-weight: 100;
              margin: 5px 0 0 0;
              font-size: 13px; }
        .wrapper .slide .bottom .photo img {
          margin-top: -65px;
          z-index: 0;
          margin-top: 121px; }
      .wrapper .slide .bottom .text {
        width: 510px;
        margin: 105px 0 0 50px; }
        .wrapper .slide .bottom .text p {
          color: white;
          font-size: 18px; }
  .wrapper .slide_01 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    width: 740px;
    margin: 50px auto 0 auto; }
    .wrapper .slide_01 p {
      font-weight: 100; }
  .wrapper .long_title {
    font-size: 36px !important; }
  .wrapper .big_number {
    font-size: 36px !important;
    line-height: 30px !important; }

/*# sourceMappingURL=style.css.map */
